.weui_media_box:before {
    left: 0;
}

.list_contentbox {
    border-top: 1px solid #E5E5E5;
}

.main-hd {
    background: -webkit-linear-gradient(#57E7B3, #42C6C0);
    /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(#57E7B3, #42C6C0);
    /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(#57E7B3, #42C6C0);
    /* Firefox 3.6 - 15 */
    background: linear-gradient(#57E7B3, #42C6C0);
    /* 标准的语法 */
    width: 100%;
    height: 300px;
}


/*定位*/

.posit_flix {
    position: fixed;
    width: 100%;
}

#page {
    width: 100%;
    height: 400px;
    padding: 20px;
    background: white;
}

.panel {
    display: none;
    width: 240px;
    color: #000;
    box-shadow: inset 0 0 5px 5px #222;
}

#left-panel-hd {
    width: 240px;
    height: 200px;
    position: relative;
    /* background: url(../images/qiye.jpg) 0; */
    background-size: cover;
}

#user-container {
    width: 240px;
    height: 200px;
    position: relative;
    background: hsla(0, 0%, 100%, .3);
    overflow: hidden;
}

#user-container::before {
    /* background: url(../images/qiye.jpg); */
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    filter: blur(20px);
    margin: -30px;
}

.header-bd a {
    color: #ffffff;
}


/* 帖子列表 */


/*评论框*/

.comment_box {
    height: 50px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #e8e6e6;
}

.comment_container {
    height: 100%;
    margin-left: 10px;
    margin-right: 10px;
}

.comment_item1 {
    height: 45px;
    padding: 5px 0 0 0;
    float: left;
    width: 12%;
}

.comment_item_t1 {
    padding: 5px 0;
    background-color: #fff;
    border-bottom: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    float: left;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    width: 100%;
}

.comment_item_t1 a {
    height: 31px;
    position: relative;
    display: block;
    background-color: #fefefe;
    overflow: hidden;
    text-align: center;
    text-decoration: none;
    color: #000000;
    font-size: 18px;
}

.comment_item2 {
    float: left;
    height: 45px;
    padding: 5px 0 0 0;
    width: 70%;
}

.comment_item_t2 {
    padding: 5px 0;
    background-color: #fff;
    border-bottom: 1px solid #ccc;
    width: 100%;
}

.comment_item_t2 input {
    border: none;
    position: relative;
    outline: none;
    padding: 5px 10px;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    font-size: 18px;
    width: 91%;
}

.comment_item3 {
    height: 45px;
    padding: 5px 0 0 0;
    float: left;
    width: 18%;
}

.comment_item_t3 {
    padding: 5px 0;
    background-color: #fff;
    border-bottom: 1px solid #ccc;
    float: left;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    width: 100%;
}

.comment_item_t3 a {
    height: 31px;
    position: relative;
    display: block;
    background-color: #fefefe;
    overflow: hidden;
    text-align: center;
    text-decoration: none;
    color: #000000;
    font-size: 18px;
}